<div class="col-md-4 margin-btm20">
    <%= image_tag "marvin.png", class: "img-responsive", alt: "Marvin" %>
    <div class="person-desc">
        <h4>Marvin<small>(Founder)</small></h4>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit.</p>
    </div>
</div>