<section id="page-tree">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <h1>Contact us</h1>
            </div>
            <div class="col-md-7 col-sm-7">
                <ol class="breadcrumb pull-right hidden-xs">
                    <li><a href="index.html"><i class="ion-home"></i> Home</a></li>
                    <li><a>pages</a></li>
                    <li class="active"><a>Contact us</a></li>
                </ol>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--page-tree-->
<div class="divied-60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Get in touch</h3>
            <p class="margin-btm40">
                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur.
            </p>
            <div class="form-box margin-btm40">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email*</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Message*</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-dark btn-lg">Send Message</button>
                        </div>
                    </div>
                </form><!--Contact form-->
            </div>
        </div>
        <div class="col-md-4">
            <h3>Contact info</h3>
            <p class="margin-btm20">
                Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur.
            </p>
            <ul class="list-unstyled contact-list margin-btm20">
                <li><i class="ion-home"></i> 124,munnawali Jaipur,302012</li>
                <li><i class="ion-ios7-telephone"></i> <strong>Phone:</strong> +91 1234567890</li>
                <li><i class="ion-ios7-email"></i> <strong>Email:</strong> mail@domain.com</li>
                <li><i class="ion-ios7-world"></i> <strong>Website:</strong> http://www.site.com</li>
            </ul>
            <h3>Social Connect</h3>
            <ul class="list-unstyled list-inline social">
                <li><a href="#"><i class="ion-social-facebook-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-pinterest-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                <li><a href="#"><i class="ion-social-skype-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>

            </ul>
        </div>
    </div>
</div><!--Contact container end-->