<section id="page-tree">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-5">
              <h1><%= t "pages.os.title" %></h1>
          </div>
          <div class="col-md-7 col-sm-7">
          </div>
      </div><!--row-->
  </div><!--container-->
</section><!--page-tree-->
<div class="divied-60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center margin-btm40">
            <h1>Full width page</h1>
            <h2 class="subtitle">
                <i class="ion-android-arrow-up-right"></i>
            </h2>
        </div>
        <div class="col-md-12">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
        <div class="divied-60"></div>
        <div class="row">
            <div class="col-md-12 margin-btm40">
                <h3>More Services</h3>
            </div>
            <div class="col-md-12">
                 <div class="row">
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-iphone"></i>
                        <h3>Responsive design</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-android-developer"></i>
                        <h3>HTML5 CSS3</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-arrow-expand"></i>
                        <h3>Free Support</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-ios7-heart"></i>
                        <h3>Make with love</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
            </div>
                <div class="divied-40"></div>
                 <div class="row">
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-iphone"></i>
                        <h3>Responsive design</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-android-developer"></i>
                        <h3>HTML5 CSS3</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-arrow-expand"></i>
                        <h3>Free Support</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-ios7-heart"></i>
                        <h3>Make with love</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div><!--full width inner page-->

