<section id="page-tree">
  <div class="container">
      <div class="row">
            <h1>Heekari O.S.</h1>
      </div><!--row-->
  </div><!--container-->
</section><!--page-tree-->
<!--services-->
<section id="services-sec" class="padding-60">
    <div class="container">
        <div class="row">

            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-heart-outline"></i>
                    <h3>Make With Love</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h3>Bootstrap3</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-android-developer"></i>
                    <h3>Clean Code</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-monitor-outline"></i>
                    <h3>Fully Responsive</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
        </div>
        <div class="divied-40"></div>
        <div class="row">
            <div class="col-md-6">
                <h3>Our methodology</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Why hire Us?</h3>
                <ul class="list-unstyled list-services">
                    <li><i class="ion-checkmark-circled"></i> 100% Responsive layout</li>
                    <li><i class="ion-checkmark-circled"></i> Lorem ipsum dollor sit amet</li>
                    <li><i class="ion-checkmark-circled"></i> Built With Bootstrap3</li>
                    <li><i class="ion-checkmark-circled"></i> Lorem ipsum id simly industry text</li>
                    <li><i class="ion-checkmark-circled"></i> Better use of latest frameworks</li>
                    <li><i class="ion-checkmark-circled"></i> Lorem ipsum dollor sit amet</li>
                    <li><i class="ion-checkmark-circled"></i> Easy customization layout</li>
                    <li><i class="ion-checkmark-circled"></i> Lorem ipsum dollor sit amet</li>
                </ul>
            </div>
        </div>
        <div class="divied-40"></div>
        <div class="row">
            <div class="col-md-12 margin-btm40">
                <h3>More Services</h3>
            </div>
            <div class="col-md-12">
                 <div class="row">
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-iphone"></i>
                        <h3>Responsive design</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-android-developer"></i>
                        <h3>HTML5 CSS3</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-arrow-expand"></i>
                        <h3>Free Support</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-ios7-heart"></i>
                        <h3>Make with love</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
            </div>
                <div class="divied-40"></div>
                 <div class="row">
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-iphone"></i>
                        <h3>Responsive design</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-android-developer"></i>
                        <h3>HTML5 CSS3</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-arrow-expand"></i>
                        <h3>Free Support</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
                <div class="col-md-3 margin-btm20">
                    <div class="services-box-2">
                        <i class="ion-ios7-heart"></i>
                        <h3>Make with love</h3>
                        <p>
                            Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae,
                        </p>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</section>
<!--services main end-->