<section id="page-tree">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-5">
              <h1>Shop</h1>
          </div>
          <div class="col-md-7 col-sm-7">
          </div>
      </div><!--row-->
  </div><!--container-->
</section><!--page-tree-->

 <section id="pricing-tables" class="padding-60">
    <div class="container">
        <div class="row">
           <div class="col-md-12 margin-btm20">
                <h3 class="sub-heading">Pricing 3 Columns</h3>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="price-box">
                    <h3>$9.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Basic</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="price-box price-box-popular">
                    <h3>$49.99<small>-Month</small></h3>
                    <h2 class="pricing-head">High</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-theme"> Select Plan</a>

                </div>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="price-box">
                    <h3>$99.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Professional</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
        </div>
    </div><!--container-->
</section><!--pricing tables 3 columns-->
<section id="pricing-tables" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm20">
                <h3 class="sub-heading">Pricing 4 Columns</h3>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="price-box">
                    <h3>$9.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Basic</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="price-box price-box-popular">
                    <h3>$49.99<small>-Month</small></h3>
                    <h2 class="pricing-head">High</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-theme"> Select Plan</a>

                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="price-box">
                    <h3>$99.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Professional</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
              <div class="col-md-3 margin-btm20">
                <div class="price-box">
                    <h3>$29.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Business</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
        </div>
    </div><!--container-->
</section><!--pricing tables 4 columns-->
<section id="pricing-tables" class="padding-60">
    <div class="container">
        <div class="row">
           <div class="col-md-12 margin-btm20">
                <h3 class="sub-heading">Pricing 2 Columns</h3>
            </div>
            <div class="col-md-6 margin-btm20">
                <div class="price-box">
                    <h3>$9.99<small>-Month</small></h3>
                    <h2 class="pricing-head">Basic</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-dark"> Select Plan</a>

                </div>
            </div>
            <div class="col-md-6 margin-btm20">
                <div class="price-box price-box-popular">
                    <h3>$49.99<small>-Month</small></h3>
                    <h2 class="pricing-head">High</h2>
                    <div class="price-desc">
                        <p>24/7 Support</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                        <p>Lorem Ipsum</p>
                        <p>50 Gb bandwidth</p>
                        <p>20 Domains</p>
                    </div>

                    <a href="#" class="btn btn-theme"> Select Plan</a>

                </div>
            </div>

        </div>
    </div><!--container-->
</section><!--pricing tables 2 columns-->