<section id="recent-work" class="padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center margin-btm40">
                        <h1><%= t "pages.index.collaboration.title" %></h1>
                        <h2 class="subtitle"><i class="ion-android-friends"></i></h2>
                    </div>


                        <div id="grid" class="row">

                            <div class="col-xs-12 col-sm-4">
                                <%= image_tag "partners/MITFull.png", class: "img-responsive", alt: "MIT" %>
                            </div> <!--portfolio-item -->

                            <div class="col-xs-12 col-sm-4">
                                <%= image_tag "partners/IE-Area-31.jpg", class: "img-responsive", alt: "MIT" %>
                            </div> <!--portfolio-item -->

                            <div class="col-xs-12 col-sm-4">
                                <%= image_tag "partners/mitVMS.jpg", class: "img-responsive", alt: "MIT" %>
                            </div> <!--portfolio-item -->


                        </div> <!--grid -->


                    </div><!--col-md-12-->
                </div><!--row-->
            </div><!--container end-->
        </section><!--recent work-->
