<!--services-->
<section id="services-sec" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-btm40">
                <h1>Miron HTML5 CSS3 fully responsive website template  </h1>
                <h2 class="subtitle">With Clean and Valid Code.</h2>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-heart-outline"></i>
                    <h3>Make With Love</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h3>Bootstrap3</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-android-developer"></i>
                    <h3>Clean Code</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-monitor-outline"></i>
                    <h3>Fully Responsive</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
        </div>
    </div><!--container end-->
</section>
<!--services end-->