<div class="divied-40"></div>
  <section id="testimonials" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm40 text-center">
                <h1>Clients say</h1>
                <h2 class="subtitle"><i class="ion-ios7-chatbubble-outline"></i></h2>
            </div>
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="testimonials">
                    <ul class="slides">
                        <li>
                            <p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh.<p>
                                <span class="testi-person">John Doe  </span>
                        </li>
                        <li>
                            <p class="testi-text">Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at.<p>
                                <span class="testi-person">John Doe  </span>
                        </li>
                        <li>
                            <p class="testi-text">Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt.<p>
                                <span class="testi-person">John Doe </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--testimonials-->