<section id="about-colored" class="padding-60">
  <div class="container">
    <div class="row">
        <div class="col-md-12 margin-btm20 text-center">
            <h1><%= t "pages.index.signup.title" %></h1>
            <h2 class="subtitle"><i class="ion-email"></i></h2>
        </div>
        <div class="col-sm-12 text-center">
          <p><%= t "pages.index.signup.subtitle" %></p>
        </div>
        <div class="col-sm-12 text-center">
          <%= render 'prelaunch_contacts/form' %>
        </div>
    </div>
  </div><!--container-->
</section><!--about Colored-->