<div class="sidebar-box">
    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <label class="sr-only" for="subscribe-email">Email address</label>
                    <%= tag "input", placeholder: t("prelaunch_contacts.form.placeholder"), type: "text", class: "form-control", id: "email" %>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-dark"><%= t "prelaunch_contacts.form.submit" %></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>